@import 'tailwindcss';

:root {
    --traffic-red: #ea4335;
    --traffic-yellow: #fbbc04;
    --traffic-green: #34a853;
}
body {
    overflow: hidden;
}

.traffic {
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 12px;
    background: var(--traffic-color);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
}
.bloom {
    opacity: 0.4;
    background: linear-gradient(
        90deg,
        rgba(251, 188, 4, 0.2) 0%,
        #fbbc04 30%,
        #ea4335 50%,
        #18d44a 70%,
        rgba(24, 212, 74, 0.2) 100%
    );
    filter: blur(11.5px);
}

.title-bar {
    position: relative;
}
.title-bar::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(
        90deg,
        rgba(251, 188, 4, 0.2) 0%,
        #fbbc04 30%,
        #ea4335 50%,
        #18d44a 70%,
        rgba(24, 212, 74, 0.2) 100%
    );
}
*[data-tauri-drag-region] {
    app-region: drag;
}
*[data-tauri-drag-noregion] {
    app-region: no-drag;
}
